<div>
    <div class="new-kid">
        <div>
            <img
            class="new-kid-avatar"
            [src]="newKid.image">
        </div>

        <mat-form-field appearance="fill" color="accent">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="newKid.display">
        </mat-form-field>
        <div>
            <button mat-fab 
                [disabled]="invalidName"
                color="accent"
                (click)="add(newKid)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <mat-card *ngFor="let kid of data;let index=index">
        <mat-card-header>
            <img mat-card-avatar [src]="kid.image">
            <mat-card-title>{{ kid.display }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button 
                (click)="delete(index)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>