<div class="container" *ngIf="kid">
    <div>
        <img class="pic" *ngIf="kid.image" [src]="kid.image" alt="">
    </div>
    <div class="display">
        <h1>{{ kid.display }}</h1>
    </div>
    <div class="star">
        <mat-icon>star_rate</mat-icon>
    </div>
    <div class="stars-number">
        {{ kid.stars }}
    </div>
    <div class="rate">
        <button mat-icon-button (click)="rate(-1)">
            <mat-icon class="down">thumb_down_alt</mat-icon>
        </button>
        <button mat-icon-button (click)="rate(1)">
            <mat-icon class="up">thumb_up_alt</mat-icon>
        </button>
    </div>
</div>