<h1>{{ title }}</h1>
<mat-card>
    <mat-card-header>
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
    <mat-card-actions>
        <button mat-icon-button (click)="edit()">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-title>
        <span>kids</span>
    </mat-card-title>
    <mat-card-actions>
        <button mat-icon-button (click)="edit()">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-title>
        <span>gifts</span>
    </mat-card-title>
    <mat-card-actions>
        <button mat-icon-button (click)="edit()">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>